<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Feel your Field", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "All Fields",   root_path %></li>
        <li><%= link_to "New Field",   new_field_path %></li>
      </ul>
    </nav>
  </div>
</header>